﻿.dl-horizontal dt {
    white-space: normal;
}

.avatar {
    margin-bottom: 0.9rem;
}

    .avatar > img {
        border-radius: 50%;
        width: 100px;
    }

.button {
    padding-top: calc(0.375em - 3px);
    border-radius: 0;
}

.notification.is-danger.is-login-error {
    border-radius: 0;
    background-color: #ff3860b8;
}

.is-relative {
    position: relative;
}

#login-header {
    position: fixed;
    height: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.2rem 0;
}

    #login-header img {
        width: auto;
        height: 3.6rem;
        margin-top: -12px;
    }

.table td {
    vertical-align: middle;
    padding: 0.5rem;
}

.is-pulled-left.is-flex-mobile {
    float: none !important;
    text-align: center;
}

#nav {
    border-bottom: 2px solid #ccc;
    margin-bottom: 0;
    overflow: hidden;
}

.tab-content {
    background-color: #eee;
}

.table-head {
    padding: 10px !important;
    margin-bottom: 5px !important;
}

    .table-head > .is-flex-mobile {
        justify-content: center;
    }

#pane-4 {
    padding-top: 25px;
}

canvas {
    min-height: calc((100vh - 410px)/2);
}

#main {
    min-height: calc(100vh - 299px);
    padding-bottom: 1.5rem;
}

.form-narrow {
    max-width: 500px;
    margin: 0 auto;
}

footer > .box.cta {
    border-radius: 0;
}

.jc-bs3-container.container {
    max-width: 500px !important;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    opacity: 0.6;
}

.hero.is-fullheight {
    min-height: calc(100vh - 52px);
}

.tab-pane {
    display: none;
}

    .tab-pane.is-active {
        display: block;
    }

#import-glasaci-csv, #import-confirm {
    display: none;
}

#glasaci {
    transition: opacity ease-out 400ms;
    opacity: 0;
}

.hero-body {
    position: relative;
    overflow: visible;
    padding: 4rem 1.5rem 2rem 1.5rem;
}

#logo {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 70px;
    z-index: 31;
}

.card-content {
    padding: 1rem;
}

.field-body.field-align-right {
    justify-content: flex-end;
}

    .field-body.field-align-right > .is-narrow {
        margin-right: 0;
    }

#filter .columns:not(:last-child) {
    margin-bottom: 0;
}

.control .toggler {
    margin: 0 auto 0 0;
}

.toggler {
    width: 60px;
    margin: 0 auto;
}

    .toggler input {
        display: none;
    }

    .toggler label {
        display: block;
        position: relative;
        width: 60px;
        height: 30px;
        border: 1px solid #d6d6d6;
        border-radius: 30px;
        background: #e4e8e8;
        cursor: pointer;
    }

    .toggler input[disabled] + label {
        background: transparent;
        cursor: default;
    }

    .toggler label::after {
        display: block;
        border-radius: 100%;
        background-color: #d7062a;
        content: "";
        -webkit-animation-name: toggler-size;
        animation-name: toggler-size;
        -webkit-animation-duration: 0.15s;
        animation-duration: 0.15s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }

    .toggler label::after,
    .toggler label .toggler-on,
    .toggler label .toggler-off {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 23px;
        height: 23px;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
    }

    .toggler input:checked + label::after,
    .toggler input:checked + label .toggler-on,
    .toggler input:checked + label .toggler-off {
        left: 75%;
    }

    .toggler input:checked + label::after {
        background-color: #50ac5d;
        -webkit-animation-name: toggler-size2;
        animation-name: toggler-size2;
    }

    .toggler .toggler-on,
    .toggler .toggler-off {
        opacity: 1;
        z-index: 2;
    }

    .toggler input:checked + label .toggler-off,
    .toggler input:not(:checked) + label .toggler-on {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .toggler .path {
        fill: none;
        stroke: #fefefe;
        stroke-width: 7px;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

.select-flex {
    display: flex;
}

.select--flex {
    flex: 1;
}

#pager, #pager2, #pager1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
    margin: 0 10px;
}

@media (min-width: 768px) {
    #datum-rodjenja {
        width: 140px;
    }

    .border-left {
        padding-left: 10px;
        border-left: 1px solid #ccc;
    }
}

@media (max-width: 768px) {
    #datum-rodjenja {
        width: 70px;
    }
}

@-webkit-keyframes toggler-size {
    0%, 100% {
        width: 23px;
        height: 23px;
    }

    50% {
        width: 17px;
        height: 17px;
    }
}

@keyframes toggler-size {
    0%, 100% {
        width: 23px;
        height: 23px;
    }

    50% {
        width: 17px;
        height: 17px;
    }
}

@-webkit-keyframes toggler-size2 {
    0%, 100% {
        width: 23px;
        height: 23px;
    }

    50% {
        width: 17px;
        height: 17px;
    }
}

@keyframes toggler-size2 {
    0%, 100% {
        width: 23px;
        height: 23px;
    }

    50% {
        width: 17px;
        height: 17px;
    }
}

tr.updated:hover, .updated {
    -moz-animation: flash 2s ease-out;
    -moz-animation-iteration-count: 1;
    -webkit-animation: flash 2s ease-out;
    -webkit-animation-iteration-count: 1;
    -ms-animation: flash 2s ease-out;
    -ms-animation-iteration-count: 1;
    animation: flash 2s ease-out;
    animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% {
        background-color: none;
    }

    30% {
        background-color: #00d1b270;
    }

    100% {
        background-color: none;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: none;
    }

    30% {
        background-color: #00d1b270;
    }

    100% {
        background-color: none;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: none;
    }

    30% {
        background-color: #00d1b270;
    }

    100% {
        background-color: none;
    }
}